body {
  background-image: url('c:/Users/User/Pictures/Saved Pictures/6324eb31fcce80426ffde789f00efcd2.jpg');
  background-size: cover; /* Resize the background image to cover the entire page */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 20%;
  height: 100%;
  background-color: url('c:/Users/User/Pictures/Saved Pictures/c1254cfc6815a3ea638e9314767c4dc5.jpg');
  overflow-x: hidden;
  padding-top: 20px;
}

.sidebar a {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: block;
}

.sidebar a:hover {
  background-color: white;
  color: black;
}

.main {
  margin-left: 20%;
  padding: 16px;
}

.text-container, .portfolio-container, .contact-container, .paragraph-container, .footer {
  text-align: center;
  color: white;
}
.round-corners{
border-radius: 15px;
width: 150px;
height: 100px;
}

.button {
  cursor: pointer;
}

.round {
  width: 300px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin: auto;
}



